backend/.venv/
backend/.dev.env
backend/.prod.env
backend/.idea/
backend/src/__pycache__/
backend/__pycache__/
backend/src/assets/
backend/assets/
backend/.ruff_cache/
backend/src/*.db
backend/src/channels/__pycache__/
.DS_Store
backend/src/.DS_Store
*.pyc
backend/src/log/*.log
backend/.DS_Store
*.DS_Store
channels/